%p
  السلام عليكم 
  = @user.name
%p
  باسم الله ما شاء الله لا قوة الا بالله ربنا يثبتك و يرضى عنك ترتيبك في الجول من 
  = @schedule.start_date
  الي 
  = @schedule.end_date
  هو 
  = @rank

%p 
  يمكنك اختيار اسم من اسماء الصحابة اتظهر به في الترتيب العم و تأخذه علي مدار المسابقة 

%p
  بارك الله قيك
%p
  مرابطين