%span.level-select.clearfix
  - unless show_level_select?(start_date, end_date, schedules)
    = form_for current_user, url: user_update_level_path(current_user.id), method: :put, remote: true do |f|
      = f.select :choosen_level, level_select(schedules.map(&:level).uniq), {}, {class: "span3", id: "level-select"}
  - else
    = t('level.selected_level_for_week')
    = current_level.name