- (start_range.downto(end_range)).each do |date|
  %li
    .form{id: "#{date.strftime('%y%m%d')}-form"}
      .schedule-item
        = render partial: 'users/schedule-form', locals: {date: date, schedules: schedules, selected_schedule: nil, completed_tasks: completed_tasks}