- schedule.activity_tasks.each do |act|
  .activiy
    .activity-header
      = act.activity.title
    .span12
      - act.tasks.each do |task|
        .span3
          %label
            = check_box_tag 'achievement[completed_task_ids][]', task.id, check_completed(task, date, completed_tasks), class: "checkable-task"
            %span
              = task.description