.row-fluid.tasks-builder
  .control-group
    .control-label.span2
      = t('schedule.title')
    .controls
      = f.text_field :title, placeholder: t('common.title')
      = f.hidden_field :zone, value: current_user.gender