.activities{
  text-align: center;

  .activities-list{

  }

  span.activity-title{
    border-radius: 0;
    margin-bottom: 3px;
    
    a{
      text-decoration: none;
      &:hover{
        color: #FAA196;
      }
    }
  }
}