// FLAT COLORS VARIABLES //

$flat-green-color: #32ac97;
$flat-green-dark-color: #27ae60;

$flat-red-color: #ff6860;
$flat-red-dark-color: #cc4c46;

$flat-purple-color: #9b59b6;
$flat-purple-dark-color: #8e44ad;

$flat-yellow-color: #feda60;
$flat-yellow-dark-color: #cb9f0c;

$flat-gray-color: #f4f3ef;
$flat-dark-gray-color: #6d6d6d;

@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

html{
  height: 100%; margin: 0; width: 100%;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body * {
  font-family: "Droid Arabic Kufi", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  direction: rtl;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

section{
  display: block;
}

// ul{
//   display: block;
//   -webkit-margin-before: 1em;
//   -webkit-margin-after: 1em;
//   -webkit-margin-start: 0px;
//   -webkit-margin-end: 0px;
//   -webkit-padding-start: 40px;
// }

// li{
//   display: list-item;
//   text-align: -webkit-match-parent;
// }

.check-box, .radio-btn{
  color: #777;

  & > div{
    float: right;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

#error_explanation{
  padding: 8px 14px 8px 35px;
  background-color: rgb(252, 248, 227);
  border: 1px solid rgb(251, 238, 213);
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  color: #c09853;
  margin-bottom: 20px;
}

.slogan{
  color: #1e7a6a;
}

.social-signin{
  margin-top: 5px;
  color: #FFFFFF;
  font-weight: 600;

  a{
    color: #1e7a6a;
  }
}
.timeline{
  position: relative;
  border-right: solid 10px #e0e0e0;
  width: 1160px;
  padding-right: 0px;
  padding-top: 40px;
  margin: 0 auto;
  padding: 20px 50px;
}

.flow{
  zoom: 1;

  .flow:before, .flow:after{
    content: "";
    display: table;
  }

  .flow:after{
    clear: both;
  }
}

.schedule-activity{
  float: right;
  width: 750px;
  min-height: 600px;
}

section.schedule-activity .schedules .calendar{
  position: relative;
  top: 100px;
  right: -175px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #eee;
  z-index: 50;

  .date{
    padding: 30px 0 0 3px;
  }
}
section.schedule-activity .schedules .calendar:before{
  content: "6";
  color: #293e6b;
  font-size: 17px;
  font-family: 'oli';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "";
  text-align: center;
  display: block;
  line-height: 37px;
  font-size: 14px;
  z-index: 100;
  position: relative;
}

section.schedule-activity .schedules .schedule-item {
  .header{
    min-height: 60px;
    border-bottom: 1px solid #fff;
    background: #eee;

    .day-score{
      float: left;
    }
  }

  .content {
    padding: 20px;
    position: relative;
    background: #fafafa;
  }

  &:before{
    top: 60px;
    right: -96px;
    position: relative;
    content: " ";
    display: block;
    width: 96px;
    height: 10px;
    background: #e0e0e0;
    z-index: 0;
  }
}

section.schedule-activity ul{
  list-style: none;
}

section.schedule-activity .schedules>li, section.schedule-activity .schedule>ul>li {
  margin-bottom: 20px;
  padding-right: 32px;
  position: relative;
}

.message-fields{

  text-area{
    height: 200px;
  }
}

.messages-table{
  overflow: hidden;
  height: 100%;
}
