.badges{
  background: url(badges.png) no-repeat top left;
  &.abdelrahman{ background-position: 0 0; width: 70px; height: 70px; }
  &.abubakr{ background-position: -75px 0; width: 70px; height: 70px; }
  &.abuobayda{ background-position: -150px 0; width: 70px; height: 70px; }
  &.ali{ background-position: -225px 0; width: 70px; height: 70px; }
  &.elzober{ background-position: -300px 0; width: 70px; height: 70px; }
  &.omr{ background-position: -375px 0; width: 70px; height: 70px; }
  &.othman{ background-position: -450px 0; width: 70px; height: 70px; }
  &.saad{ background-position: -525px 0; width: 70px; height: 70px; }
  &.saed{ background-position: -600px 0; width: 70px; height: 70px; }
  &.talha{ background-position: -675px 0; width: 70px; height: 70px; }
}

.profile-wrapper{

  .badges-list{
    margin: 10px 0;
    list-style: none;

    li{
      float: right;
      margin-left: 5px;
    }
  }
  
  .profile-header{
    padding: 8px;
    border: 1px dashed #a2a7af;

    .user-avatar{
      img{
        width: 95px;
        height: 95px;
        margin-left: 20px;
      }
    }
  }

  .user-info{

    .user-name{
      margin-top: 10%;
      font-size: 1.8em;
      font-weight: bold;

    }

    .action-info{
      color: #f0992b;
      margin-top: 15%;
    }
  }

  .timeline-wrapper{

    .week-wrapper{
      padding: 8px 10px;
      background: #efefef;
      margin-bottom: 10px;
    }

    .week-level{
      form{
        margin: 0;
      }
    }

    .week-points{
      margin-top: 1%;
      color: #f0992b;
    }

    .days-activity{
      margin: 0;
      list-style: none;

      li{
        margin-bottom: 20px;
        border: 1px dashed #f1f1f1;
      }

      .header{
        color: #FFF;
        padding: 8px;
        font-weight: bold;
        background: #66b8ad;
      }
    }

    .activity-header{
      padding: 8px;
      margin-bottom: 10px;
      background: #f1f1f1;
    }
  }
}
