// FLAT COLORS VARIABLES //

$flat-green-color: #2ecc71;
$flat-green-dark-color: #27ae60;

$flat-red-color: #ff6860;
$flat-red-dark-color: #cc4c46;

$flat-purple-color: #9b59b6;
$flat-purple-dark-color: #8e44ad;

$flat-yellow-color: #feda60;
$flat-yellow-dark-color: #cb9f0c;

$flat-gray-color: #f4f3ef;
$flat-dark-gray-color: #6d6d6d;

html{
  height: 100%; margin: 0; width: 100%;
}

body{
  padding-top: 50px;
  overflow: scroll;
  overflow-x: hidden;
}
